{% extends 'base.html.twig' %}

{% block title %}ADD{% endblock %}

{% block body %}

  <section>
    <form action='/logout' method='post'>
      <input type='submit' value='LOGOUT'/>
    </form>
    <form action="/create" method='post'>
      <button type='submit'>ADD NEW</button>
    </form>
    <table border="1">
      <thead>
      {% for hi in header %}
        <th>{{ hi }}</th>
      {% endfor %}
      </thead>
      <tbody>
      {% for item in items %}
        <tr>
          {% for prop in item %}
          <td>
            {{ prop }}
          </td>
          {% endfor %}
          <td>
              <form action='/delete/{{ item['id'] }}/ask' method='post'>
                <input type='submit' value='DELETE'/>
              </form>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </section>
{% endblock %}
