{% extends 'base.html.twig' %}

{% block title %}LIST{% endblock %}

{% block body %}

  <section>
    <button id="addButton">ADD NEW</button>

    <div id="create">
      <br/>
      <form method="post">
        Name: <input type="text"  name="name" /><br/><br/>
        Secondname: <input type="text"  name="secondName" /><br/><br/>
        Patr: <input type="text"  name="patr"/><br/><br/>
        Birthday: <input type="date"  name="birthday"/><br/><br/>
        <input type="submit" value="ADD" name="submit" />
      </form>
    </div>

    <br/>
    <br/>
    <table border="1" id="content">
      <thead>
      {% for hi in header %}
        <th>{{ hi }}</th>
      {% endfor %}
      </thead>
      <tbody >
{#      {% for item in items %}#}
{#        <tr>#}
{#          {% for prop in item %}#}
{#          <td>#}
{#            {{ prop }}#}
{#          </td>#}
{#          {% endfor %}#}
{#          <td>#}
{#            <button  data-item="{{ item['id'] }}" >DELETE</button>#}
{#          </td>#}
{#        </tr>#}
{#      {% endfor %}#}
      </tbody>
    </table>
  </section>

  {% block scripts %}
    <script src="js/script.js"></script>
  {% endblock %}
{% endblock %}
