home_page:
  path: /
  controller: App\Controller\SiteController::index

delete_ask:
  path: /delete/{itemID<\d+>}/ask
  controller: App\Controller\DeleteController::ask

delete_process:
  path: /delete/{itemID<\d+>}/process
  controller: App\Controller\DeleteController::process

create:
  path: /create
  controller: App\Controller\CreateController::create

login:
  path: /login
  controller: App\Controller\AuthController::login

logout:
  path: /logout
  controller: App\Controller\AuthController::logout

