{% extends 'base.html.twig' %}

{% block title %}Login form{% endblock %}

{% block body %}

  <section>
    {{ errors }}
    <br/>
        <form method="post">
          Username:
            <input type="text"  name="username" value='{{ username }}'/><br/><br/>
          Password:
            <input type="password"  name="password" value='{{ password }}'/><br/><br/>
          <input type="submit" value="LOGIN" name="submit" />
        </form>
  </section>
{% endblock %}